{% extends 'base.html' %}

{% block title %}Django Fab | Home{% endblock %}

{% block content %}

<div class="d-flex">
    <div class="row">
        <div class="col col-md-3 col-sm-12 col-12 mb-5">
            <div class="card">
                <img class="card-img-top" src="https://brandflow.net/assets/img/featured/mdb-prolog.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: black">Card title</h5>
                <p class="card-text" style="color: black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-sm-12 col-12 mb-5">
            <div class="card">
                <img class="card-img-top" src="https://brandflow.net/assets/img/featured/mdb-prolog.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: black">Card title</h5>
                <p class="card-text" style="color: black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-sm-12 col-12 mb-5">
            <div class="card">
                <img class="card-img-top" src="https://brandflow.net/assets/img/featured/mdb-prolog.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: black">Card title</h5>
                <p class="card-text" style="color: black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-sm-12 col-12 mb-5">
            <div class="card">
                <img class="card-img-top" src="https://brandflow.net/assets/img/featured/mdb-prolog.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title" style="color: black">Card title</h5>
                <p class="card-text" style="color: black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
      </div>
  </div> 

{% endblock %}