*.env*
*.vscode*
db.sqlite3
*__pycache__*
*data*
!**data.py**
*.pth*
*_rough_*
*.ipynb_checkpoints*
*migrations*
!*/migrations/__init__.py
!*model.pth
**__helm__**
**__secrets__**
**__data__**
**dist**
**egg**
