*.env*
*.vscode*
db.sqlite3
*__pycache__*
**data**
!**data.py**
*.pth*
*_rough_*
*.ipynb_checkpoints*
!*model.pth
**__helm__**
**__secrets__**
**__data__**
**__logs__**
**dist**
**egg**
**.csv**
**wandb**
**.zip**
**.DS_Store**
