*.env*
*env.js*
*.vscode*
*.pytest_cache*
db.sqlite3
*__pycache__*
!**data.py**
*.pth*
*_rough_*
*.ipynb_checkpoints*
!*model.pth
**__helm__**
**__secrets__**
**__data__**
**__logs__**
**dist**
**egg**
**.csv**
**wandb**
**.zip**
**.DS_Store**
**executable**
**executable.***
*node_modules*
!**data**