numpy
matplotlib
opencv-python
torch
torchvision
easydict
python-dotenv
azureml-defaults
azureml-core
azureml-train
mlflow
flask
Django
djangorestframework
azureml-mlflow
azureml-pipeline
azureml-widgets
azureml-contrib-services
fabric==2.6.0
gunicorn==20.1.0